<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>PruebaServlet</display-name>
    <servlet-name>PruebaServlet</servlet-name>
    <servlet-class>servlet.PruebaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PruebaServlet</servlet-name>
    <url-pattern>/PruebaServlet</url-pattern>
  </servlet-mapping>
  <display-name>semana01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CarreraServlet</display-name>
    <servlet-name>CarreraServlet</servlet-name>
    <servlet-class>servlet.CarreraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarreraServlet</servlet-name>
    <url-pattern>/CarreraServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PeliculaServlet</display-name>
    <servlet-name>PeliculaServlet</servlet-name>
    <servlet-class>servlet.PeliculaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PeliculaServlet</servlet-name>
    <url-pattern>/PeliculaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PeliServlet</display-name>
    <servlet-name>PeliServlet</servlet-name>
    <servlet-class>servlet.PeliServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PeliServlet</servlet-name>
    <url-pattern>/PeliServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PeliculasServlet</display-name>
    <servlet-name>PeliculasServlet</servlet-name>
    <servlet-class>servlet.PeliServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>nombre</param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>PeliculasServlet</servlet-name>
    <url-pattern>/PeliculasServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PeliculassServlet</display-name>
    <servlet-name>PeliculassServlet</servlet-name>
    <servlet-class>servlet.PeliServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PeliculassServlet</servlet-name>
    <url-pattern>/PeliculassServlet</url-pattern>
  </servlet-mapping>
</web-app>